<% if current_user %>
	<br>
	<h1><%= @restaurant.name %></h1>
	<div class="row">
		<div class="col-lg-6">
			<h2>Orders</h2>
		  	<%= render :partial => "dashboard_orders" %>
		</div>
		<div class="col-lg-6">
		  	<h2>Menu</h2>
			<%= render :partial => "dashboard_menu" %>
		</div>
	</div>
<% else %>
	You are not logged in.
<% end %>