<%= form_for(@ordered_item) do |f| %>
  <% if @ordered_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordered_item.errors.count, "error") %> prohibited this ordered_item from being saved:</h2>

      <ul>
      <% @ordered_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<form class="form-horizontal">
  <div class="form-group">
      <%= f.number_field :id, input_html: { class: "form-control" } %>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>









<% end %>